/*****************************************************************
   Style Index
------------------------------------------------------------------
   00 Import Stylesheets

   01 Body Styles
      1.1 Main Wrapper Styles

   02 Header Section Styles
   	  2.1  Top Navbar Head
	  2.2  Main Navigation

   03 Main Content Section Styles
	  3.1 Modal Window Styles
	  3.2 Landing/Home Page Styles

   05 Footer Section Styles
	  5.3 Footer List Links

*****************************************************************/
/************************************************************************************

=========================== 00 Import Stylesheets =================================

************************************************************************************/
/***
  Color Names taken from :: http://chir.ag/projects/name-that-color/#798796
***/
/* White & Shades of white */
/* Black & Shades of black */
/* Yellow */
/* Blue and Purple*/
/* Green */
/*****************************************************************
   Style Index
------------------------------------------------------------------

   06 Common Styles
      6.1 Typography
	  6.2 Buttons Styles
	  6.3 Links Styles
	  6.4 Image/Media Styles
	  6.5 Unordered/Ordered List Styles
	  6.6 Padding Styles
	  6.7 Margin Styles

*****************************************************************/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  /*-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;*/ }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
  color: inherit; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

figure {
  margin: 0; }

img, object, embed, video {
  max-width: 100%;
  /*width:100%;*/ }

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
  width: 100%; }

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 22, 2016 */
/* --------------------------- 6.1 Typography------------------------------ */
h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #666666;
  font-weight: 700; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

html {
  height: 100%;
  position: relative; }

* {
  box-sizing: border-box; }

body {
  background-color: #F5F4F7;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #666666; }

ul {
  margin: 0px;
  padding: 0px; }
  ul li {
    list-style-type: none; }

.bullet-list {
  margin-left: 15px; }
  .bullet-list li {
    list-style-type: disc;
    margin-bottom: 30px; }

a {
  text-decoration: none;
  outline: none; }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    border-collapse: separate;
    text-shadow: none;
    color: #ffbe00; }
  a:focus {
    color: #ffbe00; }

.btn-default {
  background-color: #FFFFFF;
  border: 1px solid #ffbe00;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #ffbe00;
  padding: 10px 40px;
  min-width: 130px;
  line-height: normal;
  font-family: 500; }
  .btn-default:hover, .btn-default:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    border-collapse: separate;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    text-shadow: none;
    background-color: #ffbe00;
    border: 1px solid #ffbe00;
    color: #FFFFFF; }

.btn-primary {
  background: #ffbe00;
  border: 1px solid #ffbe00;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  min-width: 180px;
  cursor: pointer;
  font-family: 500; }
  .btn-primary.active, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    outline: none;
    background: #464d5e;
    border-color: #464d5e; }

.btn-grey {
  background: #edecef;
  border: 1px solid #bebebe;
  color: #999999;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  min-width: 180px;
  font-family: 500; }
  .btn-grey.active, .btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    color: #999999;
    outline: none;
    background: #edecef;
    border-color: #bebebe; }

/****************************************
   1.7 Padding Style
****************************************/
.p-0 {
  padding: 0px !important; }

.p-5 {
  padding: 5px !important; }

.p-10 {
  padding: 10px !important; }

.p-15 {
  padding: 15px !important; }

.p-20 {
  padding: 20px !important; }

.p-30 {
  padding: 30px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-30 {
  padding-left: 30px !important; }

/****************************************
   1.8 Margin Style
****************************************/
.m-auto {
  margin: auto; }

.m-0 {
  margin: 0px !important; }

.m-5 {
  margin: 5px !important; }

.m-10 {
  margin: 10px !important; }

.m-15 {
  margin: 15px !important; }

.m-20 {
  margin: 20px !important; }

.m-30 {
  margin: 30px !important; }

.m-35 {
  margin: 35px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.margin-max {
  margin-top: 50px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.icon {
  background: url(../images/arrow.png) no-repeat;
  display: inline-block;
  height: 16px;
  width: 84px;
  vertical-align: middle; }

.header {
  position: fixed;
  width: 100%;
  z-index: 5; }
  .header .logo {
    display: block;
    width: 140px;
    height: 80px;
    background: #ffbe00;
    padding: 10px; }

.filter-price input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #BABABA;
  background: #FFFFFF; }

.ui-menu-item {
  border: 0 none !important; }
  .ui-menu-item .ui-menu-item-wrapper {
    border: 1px solid #BABABA;
    padding: 10px; }

/**
 * Tooltip Styles
 */
/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer; }

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
  text-transform: lowercase; }

/* Directions */
/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%; }

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9); }

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px; }

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px); }

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto; }

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9); }

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px); }

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9); }

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px); }

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%; }

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9); }

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px); }

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px; }

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px; }

/************************************************************************************

=========================== 01 Body Style =================================

************************************************************************************/
.mainWrapper {
  position: relative; }

.banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 440px;
  display: block;
  position: relative; }
  @media screen and (max-width: 768px) {
    .banner {
      background-position: 60% 0; } }
  .banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .banner h1 {
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: 40%;
    color: #FFFFFF;
    font-size: 48px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 5; }
    @media screen and (max-width: 768px) {
      .banner h1 {
        width: 100%;
        text-align: center; } }
    @media screen and (max-width: 767px) {
      .banner h1 {
        font-size: 30px; } }

/*
Logo Animation
*/
.logo img {
  width: 70px;
  animation: animationFrames linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) scaleX(1) scaleY(1); }
  6% {
    transform: translate(5px, 4px) scaleX(1.2) scaleY(1.2); }
  13% {
    transform: translate(12px, 4px); }
  100% {
    transform: translate(50px, 0px) scaleX(1.2) scaleY(1.2); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
  6% {
    -moz-transform: translate(5px, 4px) scaleX(1.2) scaleY(1.2); }
  13% {
    -moz-transform: translate(12px, 4px); }
  100% {
    -moz-transform: translate(50px, 0px) scaleX(1.2) scaleY(1.2); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
  6% {
    -webkit-transform: translate(5px, 4px) scaleX(1.2) scaleY(1.2); }
  13% {
    -webkit-transform: translate(12px, 4px); }
  100% {
    -webkit-transform: translate(50px, 0px) scaleX(1.2) scaleY(1.2); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
  6% {
    -o-transform: translate(5px, 4px) scaleX(1.2) scaleY(1.2); }
  13% {
    -o-transform: translate(12px, 4px); }
  100% {
    -o-transform: translate(5px, 0px) scaleX(1.2) scaleY(1.2); } }

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
  6% {
    -ms-transform: translate(5px, 4px) scaleX(1.2) scaleY(1.2); }
  13% {
    -ms-transform: translate(12px, 4px); }
  100% {
    -ms-transform: translate(50px, 0px) scaleX(1.2) scaleY(1.2); } }

/*=======================================Forme========================================*/
.form {
  background: #FFFFFF;
  width: 80%;
  position: relative;
  margin: 0px auto;
  padding: 40px 30px;
  margin-top: -100px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 6; }
  @media screen and (max-width: 1024px) {
    .form {
      padding: 30px; } }
  @media screen and (max-width: 768px) {
    .form {
      width: 90%; } }
  @media screen and (max-width: 767px) {
    .form {
      padding: 20px;
      width: 100%; } }

.option-group {
  text-align: center; }

.group {
  margin-bottom: 30px; }

.UserActions {
  position: relative;
  width: 100%;
  margin: 0px auto; }
  .UserActions .group {
    float: left;
    width: 23%;
    margin: 10px;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .UserActions .group {
        width: 46%; } }
    @media screen and (max-width: 767px) {
      .UserActions .group {
        width: 100%;
        margin: 10px 0px;
        display: block;
        float: none; } }
    .UserActions .group .control {
      width: 100%;
      padding: 20px 20px 20px 40px;
      border: 1px solid #BABABA;
      display: block;
      outline: none; }
      .UserActions .group .control:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .UserActions .group .fa {
      position: absolute;
      left: 15px;
      top: 20px;
      color: #464d5e;
      font-size: 18px; }
  .UserActions .btn {
    padding: 20px 40px;
    position: absolute;
    min-width: 100px;
    right: -60px;
    bottom: -70px; }
    @media screen and (max-width: 767px) {
      .UserActions .btn {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%; } }
    .UserActions .btn .fa {
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;
      color: #FFFFFF;
      font-size: 24px; }
    .UserActions .btn:hover .fa {
      transform: translateX(20%);
      -webkit-transform: translateX(20%);
      -moz-transform: translateX(20%);
      -o-transform: translateX(20%); }

.ui-widget-header .ui-icon {
  background-image: url("../images/ui-icons_bbbbbb_256x240.png"); }

.left-col {
  flex: 1;
  padding: 0 15px; }
  @media screen and (max-width: 1024px) {
    .left-col {
      width: 100%;
      flex: initial; } }
  @media screen and (max-width: 767px) {
    .left-col {
      padding: 0px; } }

.searchResult {
  padding: 50px 20px;
  width: 100%;
  overflow-x: hidden; }
  @media screen and (max-width: 767px) {
    .searchResult {
      padding: 20px 10px; } }
  .searchResult .sidebar {
    width: 24%;
    padding: 0 15px; }
    @media screen and (max-width: 768px) {
      .searchResult .sidebar {
        width: 100%;
        padding: 0px 25px; } }
    @media screen and (max-width: 767px) {
      .searchResult .sidebar {
        padding: 0px; } }
  .searchResult .rightPart {
    width: 75%;
    padding: 0 15px; }
    @media screen and (max-width: 768px) {
      .searchResult .rightPart {
        width: 100%;
        padding: 0px; } }
    .searchResult .rightPart .cardResultList {
      display: flex; }
      @media screen and (max-width: 1024px) {
        .searchResult .rightPart .cardResultList {
          display: block; } }

.headPatern {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px; }

/*========================= CARD ===================================*/
.card {
  background: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .card > ul {
    padding: 20px;
    border: 1px solid #cdcdcd;
    position: relative; }
    @media screen and (max-width: 767px) {
      .card > ul {
        padding: 20px 10px; } }
  .card li {
    display: inline-block;
    vertical-align: top;
    width: 19%; }
    @media screen and (max-width: 1024px) {
      .card li {
        width: 20%; } }
    @media screen and (max-width: 767px) {
      .card li {
        width: 24%; } }
    .card li img {
      margin-bottom: 5px; }
    .card li p {
      font-weight: 500;
      font-size: 16px; }
    .card li h3 {
      text-transform: uppercase;
      margin-bottom: 20px; }
    .card li span {
      display: block;
      font-size: 10px;
      color: #888888; }
    .card li.customRadio {
      position: absolute;
      right: -20px;
      width: auto; }
      @media screen and (max-width: 767px) {
        .card li.customRadio {
          bottom: -6px;
          right: 0; } }
  .card .desc {
    background: #464D5E;
    padding: 5px; }
    .card .desc a,
    .card .desc span {
      display: inline-block;
      margin: 0 5px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 12px; }
    .card .desc a:hover {
      color: #ffbe00; }
  .card .haltstatus {
    color: #cf5911;
    font-weight: 600;
    font-size: 11px;
    display: block; }

/*========================= Radio Button ===================================*/
input[name='tripway'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none; }
  input[name='tripway']:after {
    display: inline-block;
    margin: 0 -2px;
    border: 1px solid #BABABA;
    min-width: 140px;
    text-align: center;
    font-size: 16px;
    content: attr(data-icon);
    padding: 15px;
    cursor: pointer; }
  input[name='tripway']:checked:after {
    background: #464d5e;
    color: #FFFFFF; }

.customRadio {
  position: relative;
  width: auto; }
  .customRadio .radioBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    position: relative; }
    .customRadio .radioBtn::before {
      font-size: 18px;
      visibility: visible;
      content: attr(data-icon);
      width: 100px;
      padding: 15px;
      display: block;
      padding: 10px;
      background: #ffbe00;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer; }
    .customRadio .radioBtn::after {
      visibility: visible;
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      bottom: 10px; }
    .customRadio .radioBtn:checked::after {
      background-image: url("../images/tick.png");
      background-repeat: no-repeat;
      background-size: cover; }
