.project-list {
}
.project-list .card {
    min-height: 500px;
    background-color: #f9f7c7;
    border: 0 none;
    margin-bottom: 40px;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
.project-list figcaption h2{
    font-size: 32px;
    margin-bottom: 5px;
}
.project-list figcaption .category {
    color: #9c9c9c;
    font-size: 18px;
}